test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="surveys">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="survey">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="innercode" type="xs:unsignedLong" />
                    <xs:element name="outercode" />
                    <xs:element name="outerparentcode" />
                    <xs:element name="innerparentcode" type="xs:unsignedByte" />
                    <xs:element name="innercodefirstversion" type="xs:unsignedLong" />
                    <xs:element name="date" type="xs:string" />
                    <xs:element name="docno" type="xs:unsignedLong" />
                    <xs:element name="printdocnum" type="xs:unsignedLong" />
                    <xs:element name="prndocnum" />
                    <xs:element name="creatorcode" type="xs:string" />
                    <xs:element name="deleted" type="xs:string" />
                    <xs:element name="routecode" type="xs:unsignedInt" />
                    <xs:element name="employeecode" type="xs:string" />
                    <xs:element name="qsttemplatecode" type="xs:string" />
                    <xs:element name="comment" />
                    <xs:element name="pdadocnum" type="xs:unsignedShort" />
                    <xs:element name="crdate" type="xs:string" />
                    <xs:element name="buypointcode" type="xs:string" />
                    <xs:element name="pdaroutecode" type="xs:unsignedInt" />
                    <xs:element name="businessstatuscode" />
                    <xs:element name="distributoroutercode" />
                    <xs:element name="body">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="item">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SKUinnercode" type="xs:unsignedLong" />
                                <xs:element name="SKUcode" type="xs:string" />
                                <xs:element name="SKUdistrcode" />
                                <xs:element name="qsttemplaterowcode" />
                                <xs:element name="topiccode" type="xs:string" />
                                <xs:element name="itemvalues">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="itemvalue">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="answerstr" type="xs:string" />
                                            <xs:element name="answernumber" type="xs:string" />
                                            <xs:element name="answerdate" type="xs:string" />
                                            <xs:element name="answercode" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>